*{
  color: palegoldenrod;
  max-width: 4000px;
  padding: 1rem;
  margin: 0 auto;
  font-weight: bold;
}



h1{
    font-size: 55px;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    color: darkblue;
 
}

p{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 30px;
    color: chocolate;
    text-align: center;
}

.button{
    font-size: 30px;
    background-color: green;
    color: black;
    padding: 12px 15px;
   
    font-weight: bold;
    border-color: brown;
    margin: 2px;
    
    border-radius: 10px;
    margin-bottom: 10px;


}


